{% extends 'base.html.twig' %}

{% block title %}Admin panel{% endblock %}

{% block body %}
    <h3>TODO Ability to add new users and groups</h3>

<h3>All users</h3>
<table>
    <thead>
        <th>name</th>
        <th>groups</th>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{user.name}}</td>
            <td>
            {% for group in user.groups %}
                {{group.name}}
            {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>All groups</h3>
<table>
    <thead>
        <th>name</th>
        <th>users</th>
    </thead>
    <tbody>
        {% for group in groups %}
        <tr>
            <td>{{group.name}}</td>
            <td>
            {% for user in group.users %}
                {{user.name}}
            {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
