{% extends 'base.html.twig' %}

{% block title %}Admin panel{% endblock %}

{% block body %}

<table>
    <thead>
        <th>name</th>
        <th>groups</th>
    </thead>
    <tbody>
        <td>{{user.name}}</td>
        <td>
        {% for group in user.groups %}
            {{group.name}}
        {% endfor %}
        </td>
    </tbody>
</table>

{% endblock %}
